/* CSS STYLES */

/* DOCUMENT COLORS

VERDE: #5C6853;
ROJO: #923413;
AZUL: #7791A0;
AMARILLO: #D2A741;
BLANCO: #FBF8E7;
NEGRO: #241C22;
*/


:root {
    --green: #5C6853;
    --red: #923413;
    --blue: #7791A0;
    --yellow: #D2A741;
    --white: #FBF8E7;
    --black: #241C22;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Karla:wght@400;700&family=Taviraj&display=swap');



/*
font-family: 'Cormorant', serif;
font-family: 'Karla', sans-serif;
font-family: 'Taviraj', serif;
*/



html {
    font-size: 10px;
}

body {
    width: 100%;
    background-color: var(--white);
}

main {}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {}

p {
    font-family: 'Cormorant', serif;
}

h1 {
    font-family: 'Taviraj', serif;
    font-weight: 400;

    line-height: 88%;
}

h2 {
    font-family: 'Taviraj', serif;
    font-weight: 400;
    line-height: 88%;
}


button {
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
}


/* GLOBAL STYLES */

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.center-text {
    text-align: center;
}

.center-absolute {
    left: 50%;
    transform: translate(-50%);

}

.center {
    margin: 0 auto;
}

.center-child {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.border-bottom {
    border-bottom: 0.5px solid;
    border-bottom-color: var(--black);
}

.white {
    color: var(--white);
}

.bg-red {
    background-color: var(--red);
}

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.bg-yellow {
    background-color: var(--yellow);
}




/* COLUMN SYSTEM */

/* SMALL COLUMN SYSTEM BASE 6*/
.col-1 {
    width: calc((100vw - 40px) * (1/6));
}

.col-2 {
    width: calc((100vw - 40px) * (2/6));
}

.col-3 {
    width: calc((100vw - 40px) * (3/6));
}

.col-4 {
    width: calc((100vw - 40px) * (4/6));
}

.col-5 {
    width: calc((100vw - 40px) * (5/6));
}

.col-6 {
    width: calc((100vw - 40px) * (6/6));
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.large-only {
    display: none;
}

.small-only {
    display: block;
}

.volver-inicio {
    display: flex;
    align-items: center;
    color: var(--white);
    cursor: pointer;
}

.volver-inicio svg path {
    stroke: var(--white);
}

.volver-inicio p {
    display: inline-block;
    flex-direction: row;
    font-size: 1.6rem;
}


.volver-atras {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.volver-atras p,
.volver-inicio p {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    margin-left: 10px;
}

.volver-atras svg,
.volver-inicio svg {
    width: 30px;
    height: 15px
}

/*===========INDEX STYLES=============*/

.logo {
    height: 22vh;
    position: relative;

}

.logo img {
    width: 100%;
    position: absolute;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
}

.home-background {
    height: 100vh;
    width: 100%;
    position: absolute;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-background img {
    position: absolute;
    z-index: -2;
}

.home-background .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.54%, rgba(0, 0, 0, 0.6) 73.96%);
}

.main-nav {
    height: 63vh;
    background-color: var(--white);
}

.main-nav ul {
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-content: stretch;
    justify-content: center;
    text-align: center;
}

.main-nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    cursor: pointer;
}

.main-nav ul li {
    position: relative;
}

.main-nav ul li .color-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: left 1s;
}

#main-nav .color-frame.selected {
    left: 0;
}

.item-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
}

.item-title {
    transition: color 500ms;
}

.item-title h1 {
    font-size: 8vw;
    line-height: 88%;
}

.item-title p {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    padding-top: 10px;
}

.access {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.access div {
    display: flex;
    justify-content: space-around;
}

.access button {
    width: 90px;
    height: 60px;
}

/*===========LOGIN STYLES=============*/




/*===========ARTICLE GALLERY STYLES=============*/

.category-header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.category-title {
    text-align: center;
    margin-top: 20px;
    font-size: 3.0rem;
    color: var(--white);
}

.articles-gallery {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    max-width: 600px;
}

.articles-gallery article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    flex-flow: wrap;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid;
    border-bottom-color: var(--black);

}

.articles-gallery h2 {
    font-size: 3rem;
}

.articles-gallery p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
}

.articles-gallery article figure {
    width: 100%;
    height: 0;
    padding-top: calc((175 / 320) * 100%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: border-radius 0.2s;
    margin: 0 auto;
}

.articles-gallery article figure:hover {

    border-radius: 0;
}

.articles-gallery article figure img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.articles-gallery .triple-image {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.articles-gallery .triple-image figure:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}

.articles-gallery .triple-image:hover figure {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
}

.articles-gallery .triple-image figure:first-child img {
    object-position: 4% 50%;
}



.articles-gallery .triple-image figure:last-child img {
    object-position: 96% 50%;
}

/*===========ARTICLE STYLES=============*/

.article-nav {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.article-nav h1 {
    font-size: 2.4rem;
    margin-top: 20px;
}

.article-container {
    max-width: 500px;
}

.article-header .article-info {
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 5px;
}


.article-header .article-info h3 {
    display: block;
    font-size: 1.6rem;
}

.article {}

.headline {
    font-size: 1.8rem;
    padding: 10px 0;
}

.article {
    font-size: 1.6rem;
}

.article figure img {
    border-radius: 50%;
}

aside .list {
    padding-left: 40px;
}

article ol {
    padding-left: 40px;
}

/*===========FOOTER STYLES=============*/

footer {
    font-size: 1.4rem;
    margin-top: 30px;

}

footer img {
    border-radius: 50%;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 0.5px solid;
    border-color: var(--black);
    padding-top: 30px;
}

.footer-nav {
    padding-left: 20px;
}

footer .copyright {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer .legal {
    text-align: right;
    margin-top: 20px;
}

/*===========MEDIA QYERY STYLES=============*/

@media screen and (min-width: 600px) {}


@media screen and (min-width: 900px) {


    /* LARGE COLUMN SYSTEM BASE 12 */

    .col-1-l {
        width: calc(100vw * (1/12));
    }

    .col-2-l {
        width: calc(100vw * (2/12));
    }

    .col-3-l {
        width: calc(100vw * (3/12));
    }

    .col-4-l {
        width: calc(100vw * (4/12));
    }

    .col-5-l {
        width: calc(100vw * (5/12));
    }

    .col-6-l {
        width: calc(100vw * (6/12));
    }

    .col-7-l {
        width: calc(100vw * (7/12));
    }

    .col-8-l {
        width: calc(100vw * (8/12));
    }

    .col-9-l {
        width: calc(100vw * (9/12));
    }

    .col-10-l {
        width: calc(100vw * (10/12));
    }

    .col-11-l {
        width: calc(100vw * (11/12));
    }

    .col-12-l {
        width: calc(100vw * (12/12));
    }


    .container {
        padding: 0;
    }


    .volver-inicio {
        position: relative;
    }

    .volver-inicio svg {
        margin: 10px auto;
    }

    .volver-inicio p {
        position: absolute;
        left: calc(100vw * (1/12) + 10px);
        display: inline;
        width: 200%;
        font-size: 1.2vw;
    }

    .volver-atras {
        margin-left: 30px;
    }



    .volver-atras svg,
    .volver-inicio svg {
        width: 43px;
        height: 20px;
    }

    /*===========INDEX STYLES=============*/

    .home-background {
        width: calc(100vw * (5/12));
        right: 0;
    }

    .logo {
        height: 30vh;
    }

    .index-main {
        display: flex;
        flex-direction: row;
    }

    .main-nav {
        order: -1;
        height: 100vh;
    }

    .large-only {
        display: block;
    }

    .small-only {
        display: none;
    }


    .wrapper {
        flex-direction: row;
    }


    .main-nav ul {
        justify-content: flex-start;
        text-align: left;
    }

    .main-nav ul li {
        justify-content: flex-start;
    }

    .main-nav ul li .color-frame {}

    .main-nav ul li .item-container {
        justify-content: flex-start;
        margin-left: 30px;
        margin-right: 30px;
    }

    .item-title h1 {
        font-size: 3vw;
    }

    .item-title p {
        font-size: 1.5vw;
    }

    .index-content {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        align-content: flex-end;
    }

    .description {
        height: 70vh;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-content: flex-end;
        color: var(--white);
    }

    .description h2 {
        font-size: 2.5vw;
        margin-bottom: 30px;
    }

    .description p {
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
    }

    /*===========ARTICLES GALLERY STYLES=============*/

    .category-header {
        align-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;

    }

    .category-header p {
        color: var(--black);
    }

    h1.category-title {
        transform: rotate(-90deg) translateY(-200%) translateX(50%);
        position: absolute;
        bottom: 0;
        font-size: 4vw;
        display: inline;
        width: max-content;
        color: var(--white);
    }

    .gallery-wrapper {
        display: flex;
        flex-direction: column;

    }

    .articles-gallery-container {
        margin-top: 4vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 0.5px solid;
        border-color: var(--black);
    }

    .articles-gallery {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
        max-width: none;
        margin-bottom: 60px;
        margin-left: calc(100vw * (1/12));
    }

    .articles-gallery h2 {
        font-size: 2.4vw;
        line-height: 88%;
    }

    .articles-gallery p {
        font-size: 1.2vw;
    }

    .articles-gallery article {
        display: flex;
        padding: 10px 10px;
        border-color: var(--black);
        border: none;

    }

    .articles-gallery article:nth-child(3n+2) {
        border-left: 0.5px solid;
        border-right: 0.5px solid;
    }

    .articles-gallery article:nth-child(-n+3) {
        border-bottom: 0.5px solid;
    }

    .articles-gallery article img {}

    /*===========ARTICLE STYLES=============*/

    .article-nav {
        flex-direction: row;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .article-nav h1 {
        width: 65%;
        font-size: 4.0rem;
    }

    .article-container {
        display: flex;
        flex-direction: row;
        max-width: none;
    }

    .article-container aside {
        width: 35%;
    }

    .article-wrapper {
        width: 65%;
    }

    .article-text {
        margin-left: calc(100% * (1/8));
        width: calc(100% * (5/8));
        max-width: 560px;
    }

    aside .gallery {
        padding-left: 30px;
        padding-right: 30px;
        border-right: 0.5px solid;
        border-color: var(--black);
    }

    aside .list {
        padding-left: calc((100% - 60px) * (2/4));
        border-right: 0.5px solid;
        border-color: var(--black);
    }

    /*===========FOOTER STYLES=============*/

    .footer-container {
        width: 82%;
        margin: 0 auto;
    }

    footer .legal {
        text-align: right;
    }
}
